# Logs
logs
*.log
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc
.python-version
.venv
media
.gitignore
# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info
*.eggs
*.env
*.venv
# macOS
*.DS_Store
# Windows
Thumbs.db
ehthumbs.db